<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MakeLifeEasierWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MakeLifeEasierWPF.Properties.Settings>
            <setting name="LastPath" serializeAs="String">
                <value />
            </setting>
            <setting name="RegionAmount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CompilerDelay" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="DevVsPath" serializeAs="String">
                <value>C:\Program Files\Microsoft Visual Studio\2022\Community\Common7\Tools\VsDevCmd.bat</value>
            </setting>
            <setting name="VerbeterSleutelPath" serializeAs="String">
                <value />
            </setting>
        </MakeLifeEasierWPF.Properties.Settings>
    </userSettings>
</configuration>